{
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "es2017": true,
    "node": true,
    "serviceworker": true
  },
  "globals": {
    "workbox": true
  },
  "extends": "eslint:recommended"
}
